@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#a1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}
#a1:hover {
    font-size: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
  position: relative;
  cursor: pointer;

  }
#a2 {
    color: #161F30;
    font-size: 25px;
}

#a2:hover {
    font-size: 30px;
    color: rgb(34, 87, 65);
    box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

img {
    width: 200px;
    height: 200px;
    margin-inline: 20px;
    margin-left: 7px;
    box-shadow: 60px -16px rgba(8, 8, 43, 0.2);
}

#three {
    padding-top: 50px;
    margin-top: 400px;
    font-size: 28px;
}

h1 {
    font-size: 50px;
    color:#184C78
}

h2 {
    font-size: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom left, #77c4e3, #8176b5);
    background-size: cover;
    background-position: center;

}
main {
    padding: 16px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {

    position: fixed;
    padding: 24px 24px 0px 0px;
    bottom: 0;
    width: 100%;
    height: 20px;
    font-size: 20px;

    text-align: center;
    }

nav {
    border: #000000;
    border-radius: 1px;
    padding: 16px;
}

strong {
    font-size: 20px;
}

.nav-top{

    text-align: center;
    font-size: 20px;
}

.container {
    display: block

}


li:nth-child(even) {
    background-color: lightgrey;
}

.texts {
    font: bold;
    font-size: 20px;
}
